&:hover {
    .photo {
      &:first-child {
        left: -50%;
        transform: scalex(2);
        opacity: 0;
        filter: blur(20px);
      }
      &:last-child {
        left: 0;
        transform: scalex(1);
        opacity: 1;
        filter: blur(0);
      }
    }
  }