@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;700;800&display=swap");
$highlight: #5bc0eb;
$darkhighlight: #fde74c;
html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
  padding: 0px;
  font-size: 1rem;
  overflow-x: hidden;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  text-rendering: optimizeLegibility !important;
}
img {
  image-rendering: crisp-edges;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
#__next {
  height: 100%;
}

.mouse {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 222;
  right: 0;
}
#geo-globe {
  padding-left: 50px;
}
canvas {
  width: 98vmin;
  height: 98vmin;
}
.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
}

.bubbles p {
  position: relative;
  z-index: 2;
}
.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
}

.bgCon {
  background: #1a1a1a;
  position: relative;

  .pCenter {
    font-family: Vollkorn;
    font-weight: 800;
    font-size: 50px;
    text-align: left;
    letter-spacing: -0.36px;
    color: white;
    line-height: 59px;
  }
  .pCenterSub {
    font-family: Inter;
    color: #bfbfbf;
    font-size: 16px;
    text-align: left;
    border-left: 2px solid #fd6b3b;
    padding-left: 10px;
    width: 440px;
    margin-left: 15px;
    line-height: 28px;
  }
  .divCreate {
    background-color: #0b173c !important;
    padding: 15px 30px;
    border-radius: 15px;
    width: 700px;
    margin: 0 auto;
    margin-top: 60px;
    .pHeader {
      font-family: Inter;
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 0px;
    }
    .pHeaderSub {
      font-family: Inter;
      color: lightgray;
      font-weight: 300;
      font-size: 13px;
      margin-bottom: 2px;
    }
    button {
      font-family: Inter;
      background-color: #fd6b3b;
      border: 0px;
      width: 80%;
      height: 65px;
      margin: 0 auto;
      display: block;
      color: white;
      font-size: 18px;
      font-weight: 500;
      border-radius: 8px;
      outline: none;
      padding: 8px 15px;
    }
  }
  .pCall {
    font-family: Inter;
    color: #bfbfbf;
    font-size: 15px;
    margin-top: 20px;
  }
  .divCall {
    margin-top: 10px;
    display: inline-block;
    i {
      background-color: white;
      border-radius: 50%;
      padding: 10px 13px;
      border: 1px solid lightgray;
      animation: pulse 2s infinite;
    }
    .p1 {
      font-family: Inter;
      font-size: 14px;
      color: #fd6b3b;
      margin-bottom: 2px;
    }
    .pNumber {
      font-family: Inter;
      font-size: 15px;
      color: whitesmoke;
    }
    .divPhone {
      margin-left: 60px;
      margin-top: -35px;
    }
  }
}

.conHow {
  background: #1a1a1a;
  position: relative;
  .pHeader {
    font-family: Vollkorn;
    color: white;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2px;
    letter-spacing: -0.36px;
  }
  .pHeaderSub {
    font-family: Inter;
    width: 400px;
    color: #bfbfbf;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    line-height: 28px;
  }
  .pHeaderCount {
    font-family: Inter;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
    font-size: 10.5rem;
    margin-bottom: 0px;
    margin-left: 50px;
    position: relative;
  }
  .divMethod {
    padding: 20px 0px 0px 0px;
    margin-top: -150px;
    z-index: 22222 !important;
    .pMethodName {
      font-family: Vollkorn;
      color: white;
      font-weight: 700;
      font-size: 3.4rem;
      margin-bottom: -5px;
    }
    .pMethodDesc {
      font-family: Inter;
      color: #bfbfbf;
      font-size: 1.1rem;
      line-height: 28px;
    }
  }
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #fd6b3b;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-family: Inter;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: whitesmoke;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}

.conDesc {
  background: #1a1a1a;
  position: relative;
  padding: 75px 0px;
  .pText {
    font-family: Inter;
    font-size: 5rem;
    font-weight: 700;
    color: transparent;
    min-width: fit-content;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    -ms-text-stroke-width: 2px;
    -ms-text-stroke-color: white;
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: white;
    text-rendering: geometricPrecision;
  }
}

.conServices {
  .pVertical {
    display: none;
    font-family: Inter;
    color: #212121;
    font-size: 13px;
    writing-mode: vertical-rl;
    letter-spacing: 2.8px;
    text-transform: uppercase !important;
    position: absolute;
    bottom: 0px;
    transform: rotate(180deg) translateY(100%);
    white-space: nowrap;
  }
  .pHeader {
    font-family: Vollkorn;
    font-weight: 800;
    color: #fd6b3b;
    font-size: 85px;
    line-height: 79px;
    margin-left: 40px;
  }
  .pOverview {
    font-family: Vollkorn;
    color: #212121;
    font-weight: 700;
    letter-spacing: -0.24px;
    font-size: 1.7rem;
    line-height: 2ch;
    span {
      background: url("/Image/brush.png");
      background-repeat: no-repeat;
      background-size: 100% 95%;
      padding: 8px 0;
    }
  }
  .pOverviewSub {
    font-family: Inter;
    font-weight: 400;
    color: #212121;
    font-size: 14px;
    line-height: 30px;
    width: 450px;
  }
  .pValues {
    font-family: Vollkorn;
    text-decoration: underline;
    position: relative;
    cursor: pointer;
    width: max-content;
    border-radius: 5px;
    color: #212121;
    font-style: italic;
    &::before {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      inset: 0 0 0 0;
      color: white;
      background: url("/Image/brush.png");
      background-repeat: no-repeat;
      background-size: 100% 95%;
      padding: 8px 0;
      border-radius: 5px;
      z-index: -1;
      transition: transform 0.1s ease;
    }
  }
  .card-container {
    .card1 {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
        url("/Image/box2.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .card2 {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
        url("/Image/service_2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .card3 {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
        url("/Image/service_3.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    flex: 300px;
    margin: 30px;
    .cardCon {
      font-weight: bold;
      position: relative;
      width: 100%;
      a {
        padding: 30px;
        width: 100%;
        height: 500px;
        text-decoration: none;
        color: black;
        display: block;
        transition: 0.25s ease;
        position: relative;
        &:hover {
          transform: translate(-30px, -30px);
          border-color: #fd6b3b;
          background: #fd6b3b;
          .card--display {
            display: none;
          }

          .card--hover {
            display: block;
          }
        }

        .card--display {
          position: absolute;
          bottom: 20px;
          div {
            i {
              display: none;
              font-size: 30px;
              margin-top: 200px;
              color: white;
              margin-bottom: 10px;
            }
            h2 {
              font-family: Vollkorn;
              font-size: 1.2rem;
              color: whitesmoke;
              padding: 8px;
              background: rgba(255, 255, 255, 0.55);
              backdrop-filter: blur(4px);
              -webkit-backdrop-filter: blur(4px);
              margin-right: 30px;
            }
          }
        }

        .card--hover {
          display: none;
          position: relative;
          height: 100%;
          h2 {
            font-family: Vollkorn;
            color: white;
            font-size: 25px;
            margin: 20px 0;
          }
          p {
            font-family: Vollkorn;
            color: white;
            font-weight: normal;
            line-height: 30px;
            font-size: 16px;

            &.link {
              margin: 20px 0 0;
              font-weight: bold;
              color: #5bc0eb;
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }

      .card--border {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 2px dashed black;
        z-index: -1;
      }

      &.card--dark {
        a {
          color: white;
          background-color: black;
          border-color: black;

          .card--hover {
            .link {
              color: $darkhighlight;
            }
          }
        }
      }
    }
  }
}

.arrow {
  float: right !important;
}

.navDark {
  color: #212121 !important;
  font-weight: 600 !important;
}
.navLight {
  color: white !important;
}

.navbarShadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbarTransparent {
  background: transparent !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
}

#activeNav {
  color: #fd6b3b !important;
}

#navContact {
  border-radius: 25px;
  color: white;
  font-weight: 500 !important;
  font-size: 15px;
  background-color: #fd6b3b;
  margin: 0px !important;
  padding: 10px 25px !important;
  box-shadow: 0 2px 16px -6px #fd6b3b !important;
}

.navbarBg {
  transition: all 0.2s;
  padding: 50px 15px !important;
  border-radius: 0px !important;
  #conNav {
    padding: 20px 15px;
    transition: all 0.2s;
    border-radius: 0px !important;
  }
  #conNavNoPad {
    transition: all 0.2s;
    border-radius: 0px !important;
    padding: 5px 15px;
  }
  .nav-link {
    font-weight: 500;
    text-align: center !important;
    margin-left: 30px;
    position: relative;
    text-decoration: none;
    padding-bottom: 8px;
    &:hover {
      color: #fd6b3b !important;
    }
  }

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 15px !important;
}
.nav-link:before,
.nav-link:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fd6b3b;
}

.nav-link:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.nav-link:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}

.nav-link:hover:before,
.nav-link:hover:after,
.nav-link:focus:before,
.nav-link:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.nav-link:hover:before,
.nav-link:focus:before {
  -webkit-transition: -webkit-transform 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}

.nav-link:hover:after,
.nav-link:focus:after {
  -webkit-transition: -webkit-transform 0s 0.2s
      cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
}

.slick-slide > div {
  margin: 0 20px;
  border-radius: 15px !important;
  transition: all 0.2s;
}

canvas {
  max-width: 100%;
  margin: 0 auto 0;
  display: block;
}

.conFooter {
  background-color: #1a1a1a;
  padding: 5.5rem 15px 5.5rem 15px;
  .pCopy {
    font-family: Inter;
    color: #bfbfbf;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 25px;
  }
  .pTitle {
    font-family: Inter;
    color: white;
    font-size: 15px;
    margin-bottom: 4px;
  }
  .pAddress {
    font-family: Inter;
    color: #bfbfbf;
    font-family: 17px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .divSocials {
    i {
      font-size: 1.5rem;
      color: #fd6b3b;
      margin-right: 25px;
      margin-top: 5px;
      cursor: pointer;
    }
  }
  .pFooter {
    font-family: Inter;
    margin-bottom: 18px;
    color: #bfbfbf;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
      color: #fd6b3b;
    }
  }
}

.conFounder {
  background-color: #1a1a1a;
  padding: 5.5rem 15px 5.5rem 15px;
}

@keyframes lights {
  0% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

.conTest {
  background: #1a1a1a;
  padding: 70px 0px;
  .pQuote {
    animation: lights 5s 750ms linear infinite;
    font-family: Vollkorn;
    position: absolute;
    font-size: 15rem;
    width: max-content;
    padding: 0px;
    margin: 0px;
    color: transparent;
    min-width: fit-content;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    -ms-text-stroke-width: 2px;
    -ms-text-stroke-color: white;
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: white;
    text-rendering: geometricPrecision;
    font-weight: 700;
    top: -60px !important;
    left: 67px !important;
  }
  .divMess {
    width: 850px;
    margin: 0 auto;
    .pHeader {
      font-family: Inter;
      color: #bfbfbf;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .pMessage {
      font-family: Vollkorn;
      color: white;
      font-size: 2.2rem;
      font-weight: 500;
      margin-top: 15px;
    }
  }
  img {
    width: 65px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .pName {
    font-family: Inter;
    color: white;
    margin-bottom: 2px;
  }
  .pPosition {
    font-family: Inter;
    color: #bfbfbf;
  }
  i {
    font-size: 2rem;
    color: white;
    transition: all 0.2s;
    cursor: pointer;
    margin-left: 15px;
    &:hover {
      color: #fd6b3b;
    }
  }
}

.conTestimonials {
  margin-top: 70px;
  background-color: #f4f4f6;
  padding: 70px 15px;
  .col {
    padding: 0px;
  }
  .btnLeft {
    background-color: #fd6b3b;
    box-shadow: 0 2px 16px -6px #fd6b3b !important;
    border: 0px;
    padding: 8px 14px;
    border-radius: 50%;
    i {
      color: white;
      font-size: 1.4rem;
    }
  }
  .btnRight {
    background-color: #282936;
    box-shadow: 0 2px 16px -6px #282936 !important;
    border: 0px;
    padding: 8px 14px;
    border-radius: 50%;
    margin-left: 15px;
    i {
      color: white;
      font-size: 1.4rem;
    }
  }
  .p1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: #fd6b3b;
    margin-bottom: 5px;
  }
  .p2 {
    font-family: Inter;
    color: #212121;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: -0.36px;
    line-height: 55px;
  }
  .p3 {
    font-family: Inter;
    color: #616161;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    width: 400px;
  }
  .divTestimonials {
    .row {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
    .divComment {
      padding: 15px;
      position: relative;
      i {
        color: #fd6b3b;
      }
      .pComment {
        font-family: Vollkorn;

        color: #616161;
        font-size: 15px;
        line-height: 25px;
        margin-top: 20px;
      }
      .pName {
        font-family: Inter;
        color: #212121;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 2px;
      }
      .pPosition {
        font-family: Inter;
        color: #fd6b3b;
        font-weight: 500;
        font-size: 15px;
      }
      .quote {
        color: rgba(253, 107, 59, 0.5) !important;
        font-size: 3rem;
        position: absolute;
        bottom: 10px;
        right: 25px;
      }
    }
  }
}

.conClients {
  padding: 100px 15px;
  background: #1a1a1a;
  .pHeader {
    font-family: Vollkorn;
    font-weight: 800;
    color: #fd6b3b;
    font-size: 5rem;
    margin-left: 10px;
  }
  .pCount {
    font-family: Inter;
    color: white;
    font-weight: 500;
    font-size: 14px;
  }
  hr {
    background-color: white !important;
    height: 2px;
    margin-top: 4px;
  }
  .btnLeft {
    transition: all 0.2s;
    margin-left: -5px;
    font-family: Inter;
    color: white;
    font-size: 14px;
    i {
      color: white;
      font-size: 1.2rem !important;
    }
    &:hover * {
      color: #fd6b3b;
    }
  }
  .btnRight {
    transition: all 0.2s;
    float: right;
    font-family: Inter;
    color: white;
    font-size: 14px;
    margin-right: -8px;
    i {
      color: white;
      font-size: 1.2rem !important;
    }
    &:hover * {
      color: #fd6b3b;
    }
  }
  $viewHitBox: false;
  $button-color: transparent;
  $button-effect-color: #fd6b3b;
  $effect-timing: 0.45s;

  .link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0.5rem;
    width: 100%;
    height: 100%;
    max-height: 180px;
    min-height: 180px;
    text-decoration: none;
    margin-bottom: -40px;
    transition: box-shadow $effect-timing;
    transform: scale(1);
    will-change: box-shadow;

    &__text {
      position: relative;
      z-index: 2;
      padding: 3em;
      font-size: 1.25rem;
      text-align: center;
      color: white;
      pointer-events: none;
    }
    img {
      filter: brightness(0) invert(1);
    }
  }

  .sensor {
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: justify;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__background {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $button-color;
      border: 1px solid rgba(255, 255, 255, 0.3);
      transition: background-color $effect-timing * 0.9 ease;
    }

    &__effect {
      position: absolute;
      z-index: -1;
      width: 0;
      height: 0;
      left: 50%;
      top: 50%;
      &::after {
        display: block;
        content: "";
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &__trigger {
      flex: 1 1 auto;
      min-width: 25%;

      &:hover {
        min-width: 100%;
        height: 100%;
        & ~ .sensor__effect {
          transition: transform $effect-timing ease-out;
          transform: scale(30);
          &::after {
            background-color: $button-effect-color;
          }
        }
        & ~ .sensor__background {
          background-color: $button-effect-color;
        }
        // Automating this would sure be nice!
        &:nth-of-type(1) {
          & ~ .sensor__effect {
            left: 0%;
            top: 0%;
          }
        }
        &:nth-of-type(2) {
          & ~ .sensor__effect {
            left: 33%;
            top: 0%;
          }
        }
        &:nth-of-type(3) {
          & ~ .sensor__effect {
            left: 66%;
            top: 0%;
          }
        }
        &:nth-of-type(4) {
          & ~ .sensor__effect {
            left: 100%;
            top: 0%;
          }
        }
        &:nth-of-type(5) {
          & ~ .sensor__effect {
            left: 0%;
            top: 33%;
          }
        }
        &:nth-of-type(6) {
          & ~ .sensor__effect {
            left: 33%;
            top: 33%;
          }
        }
        &:nth-of-type(7) {
          & ~ .sensor__effect {
            left: 66%;
            top: 33%;
          }
        }
        &:nth-of-type(8) {
          & ~ .sensor__effect {
            left: 100%;
            top: 33%;
          }
        }
        &:nth-of-type(9) {
          & ~ .sensor__effect {
            left: 0%;
            top: 66%;
          }
        }
        &:nth-of-type(10) {
          & ~ .sensor__effect {
            left: 33%;
            top: 66%;
          }
        }
        &:nth-of-type(11) {
          & ~ .sensor__effect {
            left: 66%;
            top: 66%;
          }
        }
        &:nth-of-type(12) {
          & ~ .sensor__effect {
            left: 100%;
            top: 66%;
          }
        }
        &:nth-of-type(13) {
          & ~ .sensor__effect {
            left: 0%;
            top: 100%;
          }
        }
        &:nth-of-type(14) {
          & ~ .sensor__effect {
            left: 33%;
            top: 100%;
          }
        }
        &:nth-of-type(15) {
          & ~ .sensor__effect {
            left: 66%;
            top: 100%;
          }
        }
        &:nth-of-type(16) {
          & ~ .sensor__effect {
            left: 100%;
            top: 100%;
          }
        }
      }
    }
  }
  .rotate {
    font-family: Inter;
    color: white;
    font-weight: 400;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    padding: 10px;
    text-transform: uppercase;
    width: max-content;
    span {
      color: #fb3252;
      margin-left: 5px;
    }
  }
}

.conAbout {
  padding-top: 170px;
  padding-bottom: 100px;
  position: relative;
  background: #1a1a1a;
  .divHeader {
    width: 900px;
    margin: 0 auto;
    .pHeader {
      font-family: Inter;
      font-size: 5.1rem;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;
      -ms-text-stroke-width: 2px;
      -ms-text-stroke-color: #fff;
      -moz-text-stroke-width: 2px;
      -moz-text-stroke-color: #fff;
      text-rendering: geometricPrecision;
      margin-bottom: -30px;
    }
    .pHeaderSub {
      font-family: Inter;
      color: white;
      font-size: 5.1rem;
      font-weight: 700;
      margin-left: 50px;
    }
    .divDesc {
      padding-left: 100px;
      border-left: 2px solid #424242;
      float: right;
      .pTitle {
        font-family: Inter;
        font-size: 16px;
        color: #bfbfbf;
        max-width: 550px;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
  .divImage {
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    border: 3px solid white;
    position: relative;
    &::before {
      content: none !important;
      border: 2px solid white;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 50%;
      background-image: none !important;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
    .imgAbout {
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
  }
}

.conValues {
  background-color: #1a1a1a;
  padding: 70px 15px;
  padding-bottom: 150px;
  .divValues {
    width: 100%;
    background-color: white;
    padding: 70px;
    position: relative;
    
    .divInner {
      margin-left: 20%;
    }
    .form-inline {
      div {
        width: 100px;
        height: 2px;
        background-color: #fd6b3b;
        margin-right: 10px;
        margin-top: -15px;
      }
      .p1 {
        font-family: Vollkorn;
        font-size: #1a1a1a;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .p2 {
      font-family: Inter;
      font-size: #1a1a1a;
      font-size: 2rem;
      font-weight: 700;
      width: 400px;
      line-height: 2ch;
    }
    .pDesc {
      font-family: Vollkorn;
      font-size: #1a1a1a;
      font-size: 18px;
      font-weight: 500;
      max-width: 500px;
    }
    .imgDiv {
      position: absolute;
      top: 80px;
      right: -300px;
      width: 470px;
    }
    .imgDiv1 {
      position: absolute;
      top: 80px;
      left: -340px;
      width: 470px;
    }
  }
}

.conWhy {
  background-color: #1a1a1a;
  padding: 150px 15px;
  .pStroke {
    font-family: Inter;
    font-size: 5.1rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    -ms-text-stroke-width: 2px;
    -ms-text-stroke-color: #fff;
    -moz-text-stroke-width: 2px;
    -moz-text-stroke-color: #fff;
    text-rendering: geometricPrecision;
    margin-bottom: -30px;
  }
  .pNoStroke {
    font-family: Inter;
    color: white;
    font-size: 5.1rem;
    font-weight: 700;
  }
  .pOver {
    font-family: Vollkorn;
    font-size: 2.4rem;
    color: white;
    font-weight: 500;
    margin-top: 25px;
  }
  .pDesc {
    font-family: Vollkorn;
    font-size: 1.1rem;
    color: #bfbfbf;
    font-weight: 500;
    width: 400px;
  }
  .conChoose {
    padding: 32px 55px;
    margin: 0 auto;
    margin-top: 40px;
    .p1 {
      font-family: Inter;
      color: white;
      font-size: 1.3rem;
      margin-bottom: 20px;
      text-align: center;
      margin-left: 10px;
      margin-top: 10px;
    }
    .pWork {
      font-family: Inter;
      color: #bfbfbf;
      text-align: center;
      margin-bottom: 5px;
      margin-left: 10px;
    }
    .cardChoose {
      background-color: #242424;
      padding: 15px;
      clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);
      border-radius: 5px;
      min-height: 300px;
    }
  }
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.conMission {
  .pHeader {
    font-family: Vollkorn;
    color: #fd6b3b;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .pHeaderSub {
    font-family: Inter;
    color: #212121;
    font-size: 2.5rem;
    font-weight: 700;
  }
  hr {
    height: 2px;
    background: black !important;
    background-color: black !important;
    color: black !important;
    border: 0px;
    margin-top: 25px;
  }
  .pLeft {
    margin: 0 auto;
    padding-left: 20px;
  }
  .pMission {
    font-family: Inter;
    color: #282936;
    width: 75%;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
  }
  .imgMission {
    margin-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

$light: #ffffff;
$dark: lighten(#000000, 8%);
$glow: #0ba9ca;
$fs: 200px;

.conWorks {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  padding: 100px 15px;
  margin-top: 40px;
  .pCount {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    color: #fd6b3b;
    margin-bottom: 0px;
    letter-spacing: -0.36px;
    margin-left: 2px;
  }
  .pClient {
    font-family: Vollkorn;
    color: white;
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 0px;
    letter-spacing: -0.36px;
    //text-shadow: 0 0 2px whitesmoke, 0 0 2px $light, 0 0 5px $glow, 0 0 5px $glow,
    // 0 0 5px $glow, 0 0 10px $glow;
  }
  .pDate {
    font-family: Inter;
    color: white;
    font-size: 16px;
    font-weight: 800;
    margin-top: -15px;
    margin-left: 2px;
  }
  .pDescName {
    font-family: Inter;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    margin-top: 30px;
    margin-left: 2px;
  }
  .pDesc {
    font-family: Inter;
    color: white;
    letter-spacing: -0.36px;
    font-weight: 500;
    font-size: 15px;
    margin: auto 0;
    width: 420px;
  }
  .divScroll {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 2px;
    border-radius: 5px;
  }
  .pNext,
  .pPrev {
    font-family: Inter;
    font-weight: 500;
    color: White;
    margin-bottom: 0px;
    font-size: 12px;
    cursor: pointer;
  }
  .pPrevName,
  .pNextName {
    font-family: Inter;
    color: white;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 14px;
    cursor: pointer;
  }
  .pNext {
    margin-top: 40px;
  }
  .pPrevName {
    margin-bottom: -15px;
  }
}

$shellSpeed: 2s;

.atom {
  width: 200px;
  margin: 0 auto;
  position: relative;
  margin: 100px auto 100px auto;

  .electron-shell {
    border: 1px solid #fff;
    position: absolute;
    border-radius: 50%;
    transform-style: preserve-3d;
  }

  .electron {
    width: 7px;
    height: 7px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform-style: preserve-3d;
    position: absolute;

    &:after {
      content: "";
      position: absolute;
      top: -3px;
      box-shadow: 0 0 15px #fff;
      left: 50%;
      margin-left: -7px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #fff;
      animation: paricle_ 2s infinite linear;
    }
  }

  .nucleus {
    background: #fff;
    width: 10%;
    height: 10%;
    box-shadow: 0 0 15px #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
  }
}

.nucleusAnimate {
  animation: electronStill $shellSpeed linear infinite;
}

.shellAnimationOne {
  animation: shell3dRotateFirst $shellSpeed linear infinite;
}

.shellAnimationTwo {
  animation: shell3dRotateSecond $shellSpeed linear infinite;
}

.shellAnimationThree {
  animation: shell3dRotateThird $shellSpeed linear infinite;
}

@keyframes electron {
  from {
    transform: rotateX(90deg) rotateY(0deg);
  }
  to {
    transform: rotateX(90deg) rotateY(-360deg);
  }
}

@keyframes electronStill {
  0% {
    transform: translate3d(0, 0, 0);
  }

  25% {
    transform: translate3d(-0.5px, -0.5px, 0);
  }

  75% {
    transform: translate3d(0.5px, 0.5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shell2dRotate {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 1080deg);
  }
}

@keyframes shell3dRotateFirst {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes shell3dRotateSecond {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(-1, -1, -1, 360deg);
  }
}

@keyframes shell3dRotateThird {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(-0.5, 0.5, 0.5, 360deg);
  }
}

.conBanner {
  background: #1a1a1a;
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  .container {
    padding: 50px 15px;
    background: #d3cdbd;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    border: 3px solid #fd6b3b;
    position: relative;
    z-index: 2;
    &::before {
      content: "";
      border: 2px solid #fd6b3b;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
  }

  .divHeader {
    width: 900px;
    margin: 0 auto;
    .pTitle {
      font-family: Inter;
      font-size: 5rem;
      font-weight: 700;
      color: transparent;
      min-width: fit-content;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #1a1a1a;
      -ms-text-stroke-width: 2px;
      -ms-text-stroke-color: #1a1a1a;
      -moz-text-stroke-width: 2px;
      -moz-text-stroke-color: #1a1a1a;
      text-rendering: geometricPrecision;
      margin-bottom: -15px;
    }
    .pTitleSub {
      font-family: Inter;
      color: #1a1a1a;
      font-size: 4rem;
      font-weight: 700;
    }
    .divDesc {
      padding-left: 45px;
      border-left: 2px solid #fd6b3b;
      float: right;
      .pHeader {
        font-family: Inter;
        color: #1a1a1a;
        font-size: 1.5rem;
        max-width: 400px;
        line-height: 32px;
        font-weight: 600;
      }
      .pHeaderSub {
        font-family: Inter;
        color: #212121;
        max-width: 550px;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
}
